<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <!-- Utility Servlets -->
    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>servlets.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlets.NewServlet</servlet-class>
    </servlet>

    <!-- Authentication Servlets -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnifiedRegisterServlet</servlet-name>
        <servlet-class>servlets.UnifiedRegisterServlet</servlet-class>
    </servlet>

    <!-- Universal Profile Servlet (ADDED) -->
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlets.ProfileServlet</servlet-class>
    </servlet>

    <!-- Admin Servlets -->
    <servlet>
        <servlet-name>AdminIncidentsServlet</servlet-name>
        <servlet-class>servlets.admin.AdminIncidentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsersServlet</servlet-name>
        <servlet-class>servlets.admin.AdminUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMessagesServlet</servlet-name>
        <servlet-class>servlets.admin.AdminMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminStatisticsServlet</servlet-name>
        <servlet-class>servlets.admin.AdminStatisticsServlet</servlet-class>
    </servlet>

    <!-- User Servlets -->
    <servlet>
        <servlet-name>UserIncidentServlet</servlet-name>
        <servlet-class>servlets.user.UserIncidentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMessageServlet</servlet-name>
        <servlet-class>servlets.user.UserMessageServlet</servlet-class>
    </servlet>

    <!-- Volunteer Servlets -->
    <servlet>
        <servlet-name>VolunteerIncidentServlet</servlet-name>
        <servlet-class>servlets.volunteer.VolunteerIncidentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolunteerMessageServlet</servlet-name>
        <servlet-class>servlets.volunteer.VolunteerMessageServlet</servlet-class>
    </servlet>

    <!-- SERVLET MAPPINGS -->

    <!-- Utility Mappings -->
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>

    <!-- Authentication Mappings -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnifiedRegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <!-- Universal Profile Mappings (FIXED) -->
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/user/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/volunteer/profile</url-pattern>
    </servlet-mapping>

    <!-- Admin Mappings -->
    <servlet-mapping>
        <servlet-name>AdminIncidentsServlet</servlet-name>
        <url-pattern>/admin/incidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsersServlet</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMessagesServlet</servlet-name>
        <url-pattern>/admin/messages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStatisticsServlet</servlet-name>
        <url-pattern>/admin/statistics</url-pattern>
    </servlet-mapping>

    <!-- User Mappings -->
    <servlet-mapping>
        <servlet-name>UserIncidentServlet</servlet-name>
        <url-pattern>/user/incidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMessageServlet</servlet-name>
        <url-pattern>/user/messages</url-pattern>
    </servlet-mapping>

    <!-- Volunteer Mappings -->
    <servlet-mapping>
        <servlet-name>VolunteerIncidentServlet</servlet-name>
        <url-pattern>/volunteer/incidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolunteerMessageServlet</servlet-name>
        <url-pattern>/volunteer/messages</url-pattern>
    </servlet-mapping>

    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>


    <!-- Guest Servlet -->
    <servlet>
        <servlet-name>GuestIncidentServlet</servlet-name>
        <servlet-class>servlets.GuestIncidentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GuestIncidentServlet</servlet-name>
        <url-pattern>/guest/incident</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminAssignmentsServlet</servlet-name>
        <servlet-class>servlets.admin.AdminAssignmentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminAssignmentsServlet</servlet-name>
        <url-pattern>/admin/assignments</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminVolunteersServlet</servlet-name>
        <servlet-class>servlets.admin.AdminVolunteersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminVolunteersServlet</servlet-name>
        <url-pattern>/admin/volunteers</url-pattern>
    </servlet-mapping>

</web-app>