<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4.0.xsd">


    <!-- authentication  -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnifiedRegisterServlet</servlet-name>
        <servlet-class>servlets.UnifiedRegisterServlet</servlet-class>
    </servlet>

    <!-- Profile Servlet -->
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlets.ProfileServlet</servlet-class>
    </servlet>

    <!-- Guest Servlets -->
    <servlet>
        <servlet-name>GuestIncidentsServlet</servlet-name>
        <servlet-class>servlets.GuestIncidentsServlet</servlet-class>
    </servlet>

    <!-- admin -->
    <servlet>
        <servlet-name>AdminIncidentsServlet</servlet-name>
        <servlet-class>servlets.admin.AdminIncidentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsersServlet</servlet-name>
        <servlet-class>servlets.admin.AdminUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMessagesServlet</servlet-name>
        <servlet-class>servlets.admin.AdminMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminStatisticsServlet</servlet-name>
        <servlet-class>servlets.admin.AdminStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAssignmentsServlet</servlet-name>
        <servlet-class>servlets.admin.AdminAssignmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminVolunteersServlet</servlet-name>
        <servlet-class>servlets.admin.AdminVolunteersServlet</servlet-class>
    </servlet>

    <!-- user -->
    <servlet>
        <servlet-name>UserIncidentServlet</servlet-name>
        <servlet-class>servlets.user.UserIncidentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMessageServlet</servlet-name>
        <servlet-class>servlets.user.UserMessageServlet</servlet-class>
    </servlet>

    <!-- volunteer -->
    <servlet>
        <servlet-name>VolunteerIncidentServlet</servlet-name>
        <servlet-class>servlets.volunteer.VolunteerIncidentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolunteerMessageServlet</servlet-name>
        <servlet-class>servlets.volunteer.VolunteerMessageServlet</servlet-class>
    </servlet>



    <!-- auth mappings -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnifiedRegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <!-- profile Mappings -->
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/user/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/volunteer/profile</url-pattern>
    </servlet-mapping>

    <!-- Guest Mappings -->
    <servlet-mapping>
        <servlet-name>GuestIncidentsServlet</servlet-name>
        <url-pattern>/guest/incident</url-pattern>
    </servlet-mapping>

    <!--admin Mappings -->
    <servlet-mapping>
        <servlet-name>AdminIncidentsServlet</servlet-name>
        <url-pattern>/admin/incidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsersServlet</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMessagesServlet</servlet-name>
        <url-pattern>/admin/messages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStatisticsServlet</servlet-name>
        <url-pattern>/admin/statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAssignmentsServlet</servlet-name>
        <url-pattern>/admin/assignments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminVolunteersServlet</servlet-name>
        <url-pattern>/admin/volunteers</url-pattern>
    </servlet-mapping>

    <!--user Mappings -->
    <servlet-mapping>
        <servlet-name>UserIncidentServlet</servlet-name>
        <url-pattern>/user/incidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMessageServlet</servlet-name>
        <url-pattern>/user/messages</url-pattern>
    </servlet-mapping>

    <!--volunteer Mappings -->
    <servlet-mapping>
        <servlet-name>VolunteerIncidentServlet</servlet-name>
        <url-pattern>/volunteer/incidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolunteerMessageServlet</servlet-name>
        <url-pattern>/volunteer/messages</url-pattern>
    </servlet-mapping>

    <!--session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>